[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "utile.tables"]
	path = utile.tables
	url = https://github.com/efinite/utile.tables
[submodule "utile.tools"]
	path = utile.tools
	url = https://github.com/efinite/utile.tools
[submodule "utile.visuals"]
	path = utile.visuals
	url = https://github.com/efinite/utile.visuals
